<!-- Page title -->

<div class="header text-center m-3 fw-bold">
  <h1>Giant Super Market</h1>
</div>

<div class="container mt-5">
  <div class="row" >
    <div class="col-sm-6 bg-secondary" id="title-1-container">
      <p class="h3 fw-bold text-center fs-1 mt-3" id="title-1">Inventory</p>
    </div>

    <!-- Add item button -->

    <div class="input-group m-3 text-center" id="add-item">
      <input type="text" class="form-control" placeholder="Add new item..">
      <button routerLink="/inventory/add-item" class="btn btn-outline-secondary" type="submit" id="button-addon2"><i class="fa-solid fa-plus"></i></button>
    </div>

    <!-- Search item button -->
    <div class="col-sm-6 mt-3 mb-3">
      <div class="input-group">
        <input type="search" class="form-control rounded" placeholder="Search" aria-label="Search" aria-describedby="search-addon" />
        <button type="button" class="btn btn-outline-primary">search</button>
      </div>
    </div>

    </div>

    <!-- item cards -->

    <div class="container mt-3">
      <div class="row">
        <div class="col-md-6 ">
          <div class="card list-group-item-dark  bg-secondary">
            <div class="card-body ">
              <div class="row align-items-center">
                <div class="col-sm-4" id="img-container">
                  <img src="assets/Apple.png" alt="" class="card-image">
                </div>
                <div class="col-sm-7 bg-light rounded text-start" id="info-container">
                  <ul class="list-group">
                    <li class="list-group-item">ID: <span class="fw-bold">123456789</span></li>
                    <li class="list-group-item">Name: <span class="fw-bold">Apple</span></li>
                    <li class="list-group-item">Quantity: <span class="fw-bold">12</span></li>
                  </ul>
                </div>
                <div class="col-sm-1 d-flex flex-column align-items-center">
                  <a class="btn btn-warning my-1 ml-4" routerLink="/inventory/view-item">
                  <i class="fa fa-eye"></i>
                </a>
                  <a class="btn btn-primary my-1" routerLink="/inventory/edit-item">
                    <i class="fa fa-pen"></i>
                  </a>
                  <button class="btn btn-danger my-1">
                    <i class="fa-solid fa-trash"></i>
                  </button>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

