<div class="container mt-5">
  <div class="row" >
    <div class="col bg-secondary" id="title-1-container">
      <p class="h3 text-center fs-1 mt-3" id="title-1">Our Warehouse's</p>
    </div>
    </div>
    <div class="row">
      <div class="col">
      <p class="h3 fw-bold text-center mt-5" id="super-market"><a routerLink="/warehouse1/inventory">Giant Super Market </a></p>
    </div>
    <div class="col">
      <p class="h3 fw-bold text-center mt-5 mb-5" id="auto-parts"><a routerLink="/warehouse2/inventory"> Riley's Auto Parts </a></p>
    </div>
  </div>
  <div class="row">
    <div class="col text-center">
      <img src="assets\GroceryStore.png" alt="">
    </div>
    <div class="col text-center">
      <img src="assets/AutoParts.png" alt="">
    </div>
  </div>
  <!-- <div class="row">
    <div class="col bg-secondary mt-5"  id="empty-container">
      <p class="h3 fw-bold text-center fs-1 mt-3" id="empty-title"></p>
    </div>
    </div> -->
</div>
